.top {
  position: relative;
  height: calc(100vh - 30rem);
  margin-bottom: 4rem;
  min-height: 42rem;
  max-height: 57rem;
}

.restaurant-list p {
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  margin-top: 2rem;
}

.restaurant-detail {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.restaurant-detail img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.restaurant-detail h1 {
 text-align: center;
 color: black;
  margin-bottom: 20px;
}

.restaurant-detail p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.restaurant-detail strong {
  font-weight: 700;
}


main .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 30rem);
  min-height: 42rem;
  max-height: 57rem;
  z-index: -1;
  object-fit: cover;
}

main .center-content {
  position: absolute;
  bottom: calc(50% - 11.1rem);
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  width: 100%;
}

main .main-logo {
  height: 6rem;
  width: 30rem;
  position: relative;
}

main h1 {
  margin-top: 3rem;
  color: white;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 200;
}

main .place {
  font-size: 36px;
  font-weight: 500;
}

main .search_container {
  margin-top: 3rem;
  display: flex;
  border-radius: 0.8rem;
  background-color: white;
  box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
  border: 2px solid rgb(232, 232, 232);
  padding-top: 6px;;
  align-items: center;
  padding: 1 1rem;
  width: 40%; /* Increase the width of the search bar */
  padding-left: 10px;
  padding-bottom: 10px;
}

main .search_container .location {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width for the location input */
  height: 100%;
  justify-content: space-between;
}

main .search_container .location i {
  color: rgb(255, 126, 139);
}

main .search_container .location input {
  border: none;
  font-size: 1.4rem;
  width: 100%;
}

main .search_container .location input:focus {
  outline: none;
}

main .search_container .line {
  width: 0.05rem;
  height: 2rem;
  background-color: rgb(207, 207, 207);
  margin: 0 1rem;
}

main .search_container .search {
  display: flex;
  align-items: center;
  width: 100%; /* Adjust the width for the search input */
  border-radius: 0.8rem;
  background-color: white;
}

main .search_container .search .search_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 100%;
  color: rgb(130, 130, 130);
}

main .search_container .search .search_icon i {
  font-size: 1.6rem;
}

main .search_container .search .search_box {
  border: none;
  font-size: 1.4rem;
  width: 100%;
  padding: 0.5rem;
}

main .search_container .search .search_box:focus {
  outline: none;
}

@media (max-width: 800px) {
  main .main-logo {
    height: 3rem;
    width: 16rem;
    position: relative;
  }

  main .search_container {
    width: calc(100% - 2.4rem);
    flex-direction: column;
  }

  main .search_container .location {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    height: 5rem;
  }

  main .search_container .location input {
    flex: 1;
  }

  main .search_container .search {
    margin-top: 1.8rem;
    background-color: white;
    padding: 1.5rem 1rem;
    width: 100%;
    justify-content: space-between;
  }

  main .search_container .search .search_icon {
    width: fit-content;
  }

  main .search_container .search input {
    margin-left: 1.5rem;
  }
}

.main-body {
  position: relative;
  max-width: 110rem;
  max-height: initial;
  margin: 0px auto;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.restaurant-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.restaurant-card h2 {
  margin: 0 0 10px;
}

.restaurant-card p {
  margin: 5px 0;
  color: #555;
}

.restaurant-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.restaurant-card a:hover {
  background-color: #0056b3;
}
