<header>
  <nav>
    <div class="user-icon">
      <i data-feather="user"></i>
    </div>
    <div class="left">
      <div class="nav-item">
        <i data-feather="smartphone"></i>
        <a href="#">Get the app</a>
      </div>
    </div>
    <div class="right">
      <div class="nav-item">
        <a href="#">Investor Relations</a>
      </div>
      <div class="nav-item">
        <a href="#">Add restaurant</a>
      </div>
      <div class="nav-item">
        <a href="#">Log in</a>
      </div>
      <div class="nav-item">
        <a href="#">Sign up</a>
      </div>
    </div>
  </nav>
</header>
